<div class="grid-container" *ngIf="dashboardService.dashboard |async as dashboard">
  <h1 class="mat-h1">{{dashboard.title }}</h1>
  <mat-grid-list [cols]="dashboard.columns" rowHeight="350px">
    <mat-grid-tile *ngFor="let widget of dashboard.widgets" [colspan]="widget.columns" [rowspan]="widget.rows">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{widget.title}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Export</button>
              <button mat-menu-item>Customize</button>
              <button mat-menu-item>Share</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <div>Card Content Here</div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
